@media (max-width: 62.5rem) {
  .burger {
    display: flex;
  }

  .header__phone {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: #191919;
    box-shadow: -0.25rem 0 1.5rem rgba(0, 0, 0, 0.1);
    padding: 90px 32px 40px;
    transform: translateX(-1000px);
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.18, 1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .header__nav.is-open {
    transform: translateX(0);
  }

  .heder__list {
    flex-direction: column;
    gap: 0;
  }

  .header__nav__link__item {
    border-bottom: 1px solid #fff;
  }

  .heder__nav__link {
    display: block;
    padding: 0.875rem 0;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .header__logo {
    margin-left: 1.25rem;
  }

  .header__nav__phone {
    font-weight: 700;
    font-size: 1.125rem;
  }
}

.nav-overlay {
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.nav-overlay.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.hero__inner {
  padding-top: 18.875rem;
}

@media (max-width: 24.6875rem) {
  .hero__inner {
    padding-top: 18.875rem;
  }

  .hero__text {
    font-size: clamp(0.875rem, 4.5vw, 1.125rem);
    letter-spacing: 1px;
    font-weight: 700;
  }
}

@media (hover: none) {
  .hero__text:active {
    scale: 0.95;
  }
}
@media (hover: none) {
  .about__us__title:active {
    color: #ca3b13;
  }
}
@media (hover: none) {
  .about__us__text:active {
    color: #ca3b13;
  }
}
@media (hover: none) {
  .club__achievements__title:active {
    color: #ca3b13;
  }
}
@media (hover: none) {
  .location__club__title:active {
    color: #ca3b13;
  }
}
@media (hover: none) {
  .location__club__sub__title:active {
    color: #ca3b13;
  }
}
@media (hover: none) {
  .footer__sub__title:active {
    color: #ad0c0c;
  }
}

@media (hover: none) {
  .coaches__title:active {
    color: #ad0c0c;
  }
}
@media (hover: none) {
  .coaches__name:active {
    color: #ca3b13;
  }
}
@media (hover: none) {
  .coaches__text:active {
    color: #ad0c0c;
  }
}

.lb-overlay {
  z-index: 2000 !important;
}
